@font-face {
    font-family: 'Departure Mono';
    src: url('fonts/DepartureMono-Regular.woff2') format('woff2'),
    url('fonts/DepartureMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Departure Mono';
    src: url('fonts/DepartureMono-Regular.woff2') format('woff2'),
    url('fonts/DepartureMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Departure Mono';
    src: url('fonts/DepartureMono-Regular.woff2') format('woff2'),
    url('fonts/DepartureMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-display: swap;
    font-family: 'Family';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/family-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Family';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/family-italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Family';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/family-medium.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Family';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/family-medium-italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Family';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/family-bold.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Family';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/family-bold-italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Family';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/family-heavy.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Family';
    font-style: italic;
    font-weight: 800;
    src: url('../fonts/family-heavy-italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Family';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/family-black.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Family';
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/family-black-italic.woff2') format('woff2');
}

