@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import '../../public/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


[x-cloak] {
    display: none !important;
}

/** #FFA132 **/
body {
    font-family: "Departure Mono";
}

pre.shiki {
    font-family: "Departure Mono";
    @apply rounded-lg px-4 py-3 border border-slate-600;
}

@keyframes cursor-blink {
    0% {
      opacity: 1;
    }
    50% {
        opacity:0;
    }
    1000% {
        opacity:1;
    }
  }

  .blink {
    animation: cursor-blink 1.5s steps(1) infinite;
  }
  .blink-hover {
    &:hover {
        animation: cursor-blink 1s steps(1) infinite;
    }
  }