@import '../../public/fonts.css' layer(base);

@import 'tailwindcss' source(none);

@source '../views/components';
@source '../views/content';
@source '../views/pages';
@source '../views/vendor';
@source '../js';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@theme {
    --color-black: #151515;
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-serif: "Family", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
* {
    /*outline: 1px solid red;*/
}

[x-cloak] {
    display: none !important;
}

html {
}

body {
    @apply font-serif;
}

.post-title {
}

h1, h2, h3, h4, h5, h6 {
    /*font-family: "DM Sans", sans-serif;*/

    pre, code {
        font-family: inherit;
    }
}

a:hover {
    color: #E65354;
}

.has-links {
    a {
        text-decoration: underline;
    }
}

.underline-links-subtle {
    a {
        text-decoration: underline;
        @apply decoration-gray-300 underline-offset-4;
    }
}

.text-subtle {
    @apply text-slate-500;
}

.article-styling {
    @apply text-xl;

    .article-body {
        @apply space-y-8;

        p {
            @apply leading-7;

        }

        p code, li code, li code {
            @apply bg-gray-100 px-1 text-sm font-mono;
        }

        a {
            text-decoration: underline;
            @apply decoration-gray-300 underline-offset-4;
        }

        h2 {
            @apply text-2xl underline decoration-gray-300 underline-offset-4;
            @apply mt-16;
        }

        h3, h4, h5, h6 {
            @apply text-xl underline decoration-gray-300 underline-offset-4;
            @apply mt-16;
        }

        ul, ol {
            @apply space-y-4 pl-6;
        }

        ul li {
            @apply list-[circle] marker:text-gray-500;
        }

        ol li {
            @apply list-[lower-roman] marker:text-gray-500;
        }

        img {

        }
    }
}

.phiki-wrapper {

    @apply rounded-md overflow-hidden bg-transparent! mt-8 mb-8 shadow-xl;

    pre {
        @apply rounded-sm p-4 text-sm overflow-x-auto dark:border-zinc-600;

        code {
            font-family: 'Geist Mono', monospace;
        }
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes slide-from-right {
    from {
        transform: translateX(30px);
    }
}

@keyframes slide-to-left {
    to {
        transform: translateX(-30px);
    }
}

::view-transition-old(root) {
    animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(root) {
    animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

